<div class="cabecero">
    <app-cabecera
    [ingresoTotal]="getIngresoTotal()"
    [egresoTotal]="getEgresoTotal()"
    [porcentajeTotal]="getPorcentajeTotal()"
    [presupuestoTotal]="getPresupuestoTotal()"
    ></app-cabecera>
</div>

<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
    <div class="ingreso">
        <app-ingreso></app-ingreso>
    </div>
    <div class="egreso">
        <h2 class="egreso_titulo">Egresos</h2>
        <app-egreso
        [ingresoTotal]="getIngresoTotal()"></app-egreso>
    </div>
</div>